@import "bootstrap/dist/css/bootstrap.min.css";
//@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;800&display=swap');

$theme-colors: (
        "primary": #0074d9,
        "secondary": #B2FFA9,
        "danger": #d90429,
        "success": #38686A,
        "dark": black
);

* {
  font-family: 'Mukta', sans-serif;
}

html {
  h1, .h1 {
    font-size: 60px;
  }
}

h1, .h1 {
  font-family: 'Sacramento', cursive;
}


@media screen and (max-width: 428px){
.category-buttons {
  display: none;
}

}

@import '~bootstrap/scss/bootstrap.scss';
